<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Board"> 
	
	<!-- 페이징 -->
	<select id="boardListCount" resultType="int">
		SELECT COUNT(BNUMBER) FROM BOARD		
	</select>
	<select id="boardListPaging" parameterType="page" resultType="board">
		SELECT * FROM (SELECT B.*, ROW_NUMBER() OVER(ORDER BY BNUMBER DESC)
			AS RN FROM BOARD B) WHERE RN BETWEEN #{startRow} AND #{endRow} <!-- RN : 조회결과에 다시 번호 붙이는것 -->
	</select>
	<!-- 글쓰기 -->
	<insert id="boardWrite" parameterType="board">
		INSERT INTO
		BOARD(BNUMBER,BWRITER,BTITLE,BCONTENTS,BDATE,BHITS,BFILENAME) VALUES
		(BOARD_SEQ.NEXTVAL,#{bwriter},#{btitle},#{bcontents},SYSDATE,0,#{bfilename})
	</insert>
	<!-- 글 상세조회 -->
	<select id="boardView" parameterType="int" resultType="board">
		SELECT * FROM BOARD WHERE BNUMBER=#{bnumber}
	</select>

	<!-- 조회수 -->
	<update id="boardHits" parameterType="int">
		UPDATE BOARD SET BHITS=BHITS+1 WHERE BNUMBER=#{bnumber}
	</update>
	
	<!-- 글수정(1) -->
	<select id="boardUpdate" parameterType="int" resultType="board">
		SELECT * FROM BOARD WHERE BNUMBER=#{bnumber}
	</select>
	
	<!-- 글수정(2) -->
	<update id="boardUpdateProcess" parameterType="board">
		UPDATE BOARD SET BTITLE=#{btitle}, BCONTENTS=#{bcontents} WHERE BNUMBER=#{bnumber}
	</update>
	
	<!-- 삭제 -->
	<delete id="boardDelete" parameterType="int">
		DELETE FROM BOARD WHERE BNUMBER=#{bnumber}
	</delete>
	<!-- 검색 -->
	<select id="boardSearch" resultType="board" parameterType="java.util.HashMap">
	SELECT * FROM BOARD
		<include refid="search"></include>
	</select>
	<sql id="search">
		<choose>
			<when test="type == 'searchtitle'">
			WHERE BTITLE LIKE '%'||#{word}||'%'
			</when>
			<when test="type == 'searchwriter'">
			WHERE BWRITER LIKE '%'||#{word}||'%'
			</when>
		</choose>
	</sql>
	<!-- 조회순 정렬 -->
	<select id="boardList" resultType="board">
		SELECT * FROM BOARD ORDER BY BHITS DESC
	</select>
	
	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 